<div class="banner">
  <div id="video-container" style='background-image: url("<%= cl_image_path 'images/new_banner.jpg' %>")'' >
    <%# <video class="video-background" autoplay loop muted>
      <source src="<%= asset_path('banner-video') >" type="video/mp4">
    </video> %>
    <h1 class="animate__animated animate__bounce">Welcome to the Frenzy!</h1>
    <p>Change your life and cook damnit!</p>
    <%= link_to "Book Kitchen Space", kitchens_path, class: 'home-button' %>
    <%= link_to "Kitchen Owners", new_kitchen_path, class: 'home-button' %>
  </div>
</div>
<%= render 'layouts/card-grid' %>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Stop by and say hi <i class="fas fa-heart"></i>
  </div>
</div>
