<div class="banner">
  <div class="home-container">
    <h1 class="animate__animated animate__bounce">Welcome to the Frenzy!</h1>
    <p>Launch your Cloud Restaurant anywhere </p>
    <%= link_to "Book Kitchen Space", kitchens_path, class: 'home-button' %>
    <%= link_to "For Kitchen Owners", new_kitchen_path, class: 'home-button' %>
  </div>
</div>
<div class="container-fluid">
  <div class="carrousels-container">
    <%= render partial: 'layouts/card-grid', locals: { category_title: 'Recently Added', category: 'recent' } %>
    <%= render partial: 'layouts/card-grid', locals: { category_title: 'Kitchens Near Me', category: 'near' } %>
    <%= render partial: 'layouts/card-grid', locals: { category_title: 'Industrial Kitchens', category: 'industrial' } %>
  </div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Stop by and say hi <i class="fas fa-heart"></i>
  </div>
</div>
