<% @kitchens.each do |k| %>
  <div class="card-kitchen">
    <div class="card-image">
      <%= cl_image_tag k.photo.key, height: 233, crop: :fill %>
      <%= icon("fa-solid", "heart") %>
    </div>
    <div class="card-info">
      <div class="card-info-details">
        <div class="card-buttons">
            <%= link_to edit_kitchen_path(k) do %>
              <%= icon("fa-solid", "pencil", class: "button-edit") %>
            <% end %>
            <%= link_to kitchen_path(k), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
              <%= icon("fa-solid", "xmark", class: "button-x") %>
            <% end %>
        </div>
        <div class="card-info-rating">
          <h2><%= k.title %></h2>
          <div class="card-info-icon">
            <%= icon("fa-solid fa-star", "color: #d29a64" ) %>
            <p>4.58</p>
          </div>
        </div>
        <p><%= k.location %></p>
        <h3><strong>€<%= (k.price_per_day).to_i.to_s %></strong> day</h3>
      </div>
    </div>
  </div>
<% end %>
