<div class="kitchen-container">
  <div class="kitchens-container">
    <h1>Chef's Kitchen Page</h1>
    <% if @kitchens.any? %>
      <%= render 'layouts/card' %>
    <% end %>
  </div>
  <div class="form-container">
    <div class="form">
      <h2>New Kitchen</h2>
      <%= simple_form_for @kitchen do |f| %>
        <%= f.input :title %>
        <%= f.input :details %>
        <%= f.input :price_per_day %>
        <%= f.input :location %>
        <%= f.input :photo, as: :file %>
        <%= f.submit class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    // Edit link click event handler
    $('.edit-link').click(function(e) {
      e.preventDefault();
      var url = $(this).attr('href');
      $('#editKitchenModal .modal-body').load(url + ' .container');
      $('#editKitchenModal').modal('show');
    });

    // Submit event for the edit kitchen form
    $('#editKitchenModal').on('submit', '#edit-kitchen-form', function(e) {
      e.preventDefault();
      var form = $(this);
      var url = form.attr('action');
      var data = form.serialize();
      $.ajax({
        type: 'PATCH',
        url: url,
        data: data,
        success: function(response) {
          // Handle success response
          $('#editKitchenModal').modal('hide');
          // You may perform additional actions such as updating the kitchen details on the page
        },
        error: function(xhr) {
          // Handle error response
          var errors = xhr.responseJSON.errors;
          // You can display the errors to the user or handle them as needed
        }
      });
    });
  });
</script>
