<div class="my-3 container">
  <h1><%= @kitchen.title %></h1>
  <div class="dynamic-info">
    <div class="icons">
      <%= icon("fa-regular", "star") %>
      <p>4.58</p>
    </div>
    <div class="icons">
      <%= icon("fa-regular", "map") %>
      <p><%= @kitchen.location %></p>
    </div>
    <div class="icons">
      <%= icon("fa-regular", "heart") %>
      <p>Save to Favourites</p>
    </div>
  </div>
  <%= render 'shared/flashes' %>
  <div class="content">
    <div class="img-grid">
      <div class="img1">
        <%= cl_image_tag @kitchen.photo.key, height: 233 %>
      </div>
      <div class="img2">
        <%= image_tag "kitchen_industrial.jpg" %>
      </div>
      <div class="img3">
        <%= image_tag "kitchen_industrial.jpg" %>
      </div>
      <div class="img4">
        <%= image_tag "kitchen_industrial.jpg" %>
      </div>
      <div class="img5">
        <%= image_tag "kitchen_industrial.jpg" %>
      </div>
    </div>
    <div class="details-container">
      <div class="details">
        <h2>Kitchen Description</h2>
        <p><%= @kitchen.details %></p>
      </div>
      <%= render 'kitchens/form_booking' %>
    </div>
  </div>
  <hr>
  <%= render 'kitchens/reviews' %>
</div>
