<div class="container-category">
  <h1>Domestic Kitchens</h1>
  <div class="cards-container">
    <%= link_to icon("fa-solid", "chevron-left"), "#", class: "arrow-button" %>
    <%= render 'layouts/card' %>
    <%= render 'layouts/card' %>
    <%= render 'layouts/card' %>
    <%= link_to icon("fa-solid", "chevron-right"), "#", class: "arrow-button" %>
  </div>
</div>
