<nav class="navbar-lewagon sticky-top">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container-fluid">
      <%= link_to "#", class: "navbar-brand" do %>
        <%= image_tag "logo" %>
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <% if user_signed_in? %>
            <li class="nav-item active">
              <%= link_to "Home", root_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Kitchens", kitchens_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Bookings", bookings_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Listings", "owner/kitchens", class: "nav-link" %>
            </li>
            <li class="nav-item dropdown">
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <p class="dropdown-item">Hello, <%= current_user.first_name %>!</p>
                <%= link_to "Owner Bookings", owner_bookings_path, class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
              </div>
            </li>
          <% else %>
            <li class="nav-item active">
              <%= link_to "Home", "/", class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Kitchens", "kitchens", class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Bookings", "bookings", class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Listings", "owner/kitchens", class: "nav-link" %>
            </li>
            <li class="nav-item dropdown">
              <%= image_tag "https://alumni.engineering.utoronto.ca/files/2022/05/Avatar-Placeholder-400x400-1.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Login", new_user_session_path, class: "dropdown-item" %>
                <%= link_to "List your kitchen", new_kitchen_path, class: "dropdown-item" %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</nav>
